In [5]:
import numpy as np
import pandas as pd
import xlrd
from functools import reduce

import warnings
warnings.filterwarnings('ignore')

## Data source
The data source is comprised of data from 2014 to 2016 that came from a gun violence database. Since the data is taken from several csv files we first created a column in each separate dataframe to show what the category and age is since that is how the csv's got broken out from the database. We then appended each dataframe into one dataframe to complete the whole dataframe. 

**Source Data:**
https://www.kaggle.com/gunviolencearchive/gun-violence-database#teens_killed.csv

## Load dataframes and categorize by accidental, intentional, and age

## Accidental deaths who are adults CSV

In [6]:
df = pd.read_csv('Data/accidental_deaths.csv')

In [7]:
df.head(1)

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,"November 26, 2016",Maryland,Sabillasville,6600 block of Eylers Valley Flint Road,1,0,NaN

In [8]:
df['Category'] = 'Accidental'

In [9]:
df['Age'] = 'Adult'

## Accidental deaths who are children CSV

In [10]:
df2 = pd.read_csv('Data/accidental_deaths_children.csv')

In [11]:
df2['Category'] = 'Accidental'

In [12]:
df2['Age'] = 'Child'

## Accidental deaths who are teens CSV

In [13]:
df3 = pd.read_csv('Data/accidental_deaths_teens.csv')

In [14]:
df3['Category'] = 'Accidental'

In [15]:
df3['Age'] = 'Teen'

## Accidental injuries who are adults CSV

In [16]:
df4 = pd.read_csv('Data/accidental_injuries.csv')

In [17]:
df4['Category'] = 'Accidental'

In [18]:
df4['Age'] = 'Adult'

## Accidental injuries who are children CSV

In [19]:
df5 = pd.read_csv('Data/accidental_injuries_children.csv')

In [20]:
df5['Category'] = 'Accidental'

In [21]:
df5['Age'] = 'Child'

## Accidental injuries who are teens CSV

In [22]:
df6 = pd.read_csv('Data/accidental_injuries_teens.csv')

In [23]:
df6['Category'] = 'Accidental'

In [24]:
df6['Age'] = 'Teen'

## Intentional injuries who are children CSV

In [31]:
df7 = pd.read_csv('Data/children_injured.csv')

In [32]:
df7['Category'] = 'Intentional'

In [33]:
df7['Age'] = 'Child'

## Intentional deaths who are children CSV

In [34]:
df8 = pd.read_csv('Data/children_killed.csv')

In [35]:
df8['Category'] = 'Intentional'

In [36]:
df8['Age'] = 'Child'

## Mass shootings in 2014 CSV

In [37]:
df9 = pd.read_csv('Data/mass_shootings_2014.csv')

In [38]:
df9['Category'] = 'Mass Shootings'

In [39]:
df9['Age'] = 'N/A'

## Mass shootings in 2015 CSV

In [40]:
df10 = pd.read_csv('Data/mass_shootings_2015.csv')

In [41]:
df10['Category'] = 'Mass Shootings'

In [42]:
df10['Age'] = 'N/A'

## Mass shootings in 2016 CSV

In [43]:
df11 = pd.read_csv('Data/mass_shootings_2016.csv')

In [44]:
df11['Category'] = 'Mass Shootings'

In [45]:
df11['Age'] = 'N/A'

## Officers involved CSV

In [46]:
df12 = pd.read_csv('Data/officer_involved_shootings.csv')

In [47]:
df12['Category'] = 'Police Involvement'

In [48]:
df12['Age'] = 'Adult'

## Intentional injuries who are teens CSV

In [49]:
df13 = pd.read_csv('Data/teens_injured.csv')

In [50]:
df13['Category'] = 'Intentional'

In [51]:
df13['Age'] = 'Teen'

## Intentional deaths who are teens CSV

In [52]:
df14 = pd.read_csv('Data/teens_killed.csv')

In [53]:
df14['Category'] = 'Intentional'

In [54]:
df14['Age'] = 'Teen'

## Append individual dataframes into one

In [57]:
dfs = [df,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14]

In [58]:
df_merged = reduce(lambda  left,right: left.append(right, sort = False), dfs)

In [59]:
df_merged.to_csv('Data/gun_violence.csv')

## Verify row length matches after append

In [60]:
len(df_merged)

5457

In [61]:
len(df)+len(df2)+len(df3)+len(df4)+len(df5)+len(df6)+len(df7)+len(df8)+len(df9)+len(df10)+len(df11)+len(df12)+len(df13)+len(df14)

5457

# Explanation of the data
The data that we chose to use has data of gun crime occurences that killed or injured three age groups: children, teens, and adults. There is also data that shows mass shooting occurences that correspond to one or many of the categorized occurences. The data spans the years of 2014, 2015, and 2016 with state, city/county, and address to match. We have categorized each crime into accidental, intentional, officers involved, and mass shootings.

In [62]:
df_merged.head(10)

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Category,Age
0,"November 26, 2016",Maryland,Sabillasville,6600 block of Eylers Valley Flint Road,1,0,NaN,Accidental,Adult
1,"November 26, 2016",Ohio,Grand Rapids,SR Route 65,1,0,NaN,Accidental,Adult
2,"November 24, 2016",New York,Sandy Creek,Kehoe Road,1,0,NaN,Accidental,Adult
3,"November 24, 2016",Florida,Black Point,NaN,1,0,NaN,Accidental,Adult
4,"November 23, 2016",Michigan,Powell Township,North 1311 County Road KCI,1,0,NaN,Accidental,Adult
5,"November 23, 2016",West Virginia,Troy,Highway 47 West,1,0,NaN,Accidental,Adult
6,"November 22, 2016",Indiana,Anderson,1600 block of West 7th Street,1,0,NaN,Accidental,Adult
7,"November 22, 2016",Virginia,Christiansburg,700 block of Dabney Road,1,0,NaN,Accidental,Adult
8,"November 22, 2016",Arkansas,Searcy (county),NaN,1,0,NaN,Accidental,Adult
9,"November 20, 2016",Louisiana,Many (Sabine),NaN,1,0,NaN,Accidental,Adult

# Limitations
##  1.  Data Duplication
- Mass shootings connect to other rows to show age category
- We have to filter # killed and # injured in our viz to avoid duplicates when showing full pictures of the data.

In [63]:
df_merged[(df_merged['City Or County'] == 'New Orleans') & (df_merged['Category'] == 'Mass Shootings')
         & (df_merged['# Injured'] == 17)]

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Category,Age
31,"November 22, 2015",Louisiana,New Orleans,1900 block of Gallier Street,0,17,NaN,Mass Shootings,N/A

In [64]:
df_merged[(df_merged['Incident Date'] == 'November 22, 2015') & (df_merged['# Injured'] == 17)]

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Category,Age
438,"November 22, 2015",Louisiana,New Orleans,1900 block of Gallier Street,0,17,NaN,Intentional,Child
31,"November 22, 2015",Louisiana,New Orleans,1900 block of Gallier Street,0,17,NaN,Mass Shootings,N/A

## 2. Missing Data 
- The operations column in the original data set contains a link to the incident report and source that shows criminal profiles, weapons involved, and description of incident. Therefore, our data is limited to the exclusion of this information.

In [66]:
df_merged.Operations.unique()

array([nan])

## 3. Officers involved data is incomplete
- Data only states if the officer participated in the occurence, but it does not show what his exact involvement was. For instance the data does not mention if the officer was injured, killed, or if the officer did the injuring or killing.
- Our data does not describe the person who committed the act of gun violence (i.e. child, police officer, gang member)

In [67]:
df_merged[(df_merged['Incident Date'] == 'July 17, 2016') & (df_merged['# Injured'] == 3)]

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Category,Age
153,"July 17, 2016",Texas,Houston,6610 Tidwell,1,3,NaN,Mass Shootings,N/A
154,"July 17, 2016",Louisiana,Baton Rouge,9611 Airline Highway,4,3,NaN,Mass Shootings,N/A
22,"July 17, 2016",Louisiana,Baton Rouge,9611 Airline Highway,4,3,NaN,Police Involvement,Adult

## 4. The data is missing intentional adult injuries and deaths
- This shows that only child and teen are available under the category Intentional

In [76]:
df_merged[df_merged.Category == 'Intentional'].Age.unique()

array(['Child', 'Teen'], dtype=object)

## How we plan to use the data.
We plan to evaluate three potential analyses
1. Is there a correlation between Police involvement and crimes also involving children and teens?
2. Is there seasonality to gun violence?
3. Frequency of police involvement in acts of gun violence?